@mixin flexCenter(){
    display: flex; 
    justify-content: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("https://thumbs.gfycat.com/AdorableDapperGallowaycow-size_restricted.gif");
  
}
body{
    background: black;
}
@mixin buttonStyle{
    position: relative;
    top: 14px;
    max-height: 25px;
}

.flex .nav-bar{
    @include flexCenter();
    border: 1px solid black;
    gap: 25;
    padding: 5; 
}

.flex .nav-menu{
    &:hover{
        transform: scale(1.2);
        transition-duration: 500ms;
       
    }
}
.submit{
    @include buttonStyle();
    &:hover{
        background-color: rgb(255, 132, 132);
        transition-duration: 500ms;
    }
}
.nav-bar .submit-btn{
    @include buttonStyle();
    right: 5px;
    &:hover{
        background-color: rgb(134, 235, 79);
        transition-duration: 500ms;
    }
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    
    
}
.grid .content{
    background: gray;
    margin: 10;
    border-radius: 10px;
    padding: 50px;
    border: 1px solid black;
    height: 80rem;
    justify-content: space-between;
    scroll-behavior: smooth;
    overflow-y: scroll;
    
    
}
.grid .form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 150px;
}
.grid .header{
    font-size: larger;
    justify-content: center;
    text-align: center;
    text-decoration-line: underline;

}
#trendingcard{
    margin-top: 30;
    
  
   

}
.trending-poster{
    height: 30%;
    justify-content: center;
    border-radius: 10;
}
.wrapper{
    background: blue;

}
.error{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.error-serious:hover{
    @extend .error;
    color: red;
    transition-duration: 500ms;
}